@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img align="middle" src="~/images/DinoDiner-32.png" />
<a asp-page="/Menu">Menu Page</a>
<a asp-page="/Privacy">Privacy Page</a>
<a asp-page="/About">About Page</a>